
@mixin placeholder($v: #ffffff) {
  &::input-placeholder {
    color: $v;
  }

  &::-moz-input-placeholder {
    color: $v;
  }

  &::-o-input-placeholder {
    color: $v;
  }

  &::input-placeholder {
    color: $v;
  }
}

@mixin text-shadow($v: #000) {
  /* stylelint-disable */
  text-shadow: -1PX -1PX 1PX $v, 1PX -1PX 1PX $v, -1PX 1PX 1PX $v, 1PX 1PX 1PX $v;
  /* stylelint-enable */
  appearance: none;
}

//-----------------------
//段落截取
//-----------------------
@mixin ellipsis($line: 1) {
  word-break: break-all;

  @if $line==1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

 @else {
    text-overflow: clip;
    display: -webkit-box;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal !important;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
  }
}

@mixin flex-ellipsis($line: 1) {
  word-break: break-all;
  text-overflow: clip;
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal !important;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
