body {
	position: relative;
	padding: 0;
	font: normal 45px "Microsoft YaHei", Arial, sans-serif;
	background: #ffebed;
}

img {
	max-width: 100%;
}

// home
.home__page {
	position: relative;
	top: 0;
	width: 100%;
	height: auto;
	padding-bottom: 220px;
	box-sizing: border-box;

	.banner {
		width: 100%;
		height: auto;
		text-align: center;

		img {
			max-width: 100%;
		}
	}

	.common__tit {
		width: 698px;
		height: 142px;
		margin: 0 auto;
		font-size: 52px;
		margin-top: -115px;
		line-height: 140px;
		color: #fff;
		background: url("../img/title-bg.png") no-repeat center;
		background-size: contain;
		text-align: center;
		/* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
		font-family: "行楷-繁";
		font-weight: bold;
	}

	.content1 {
		width: 1002px;
		min-height: 600px;
		background: #ffbbc2;
		border-radius: 20px;
		margin: 120px auto 0;
		padding: 25px;
		box-sizing: border-box;

		.content__wrap {
			width: 100%;
			height: 100%;
			margin: 0 auto;
			border: 1px solid #ffa133;
			background: #fff;

			.con__wrap {
				width: 100%;
				height: 100%;
				// padding: 40px;
				box-sizing: border-box;
			}
		}
	}

	.content2 {
		width: 1002px;
		min-height: 689px;
		background: #ffbbc2;
		border-radius: 20px;
		margin: 150px auto 0;
		padding: 25px;
		box-sizing: border-box;

		.content__wrap {
			width: 100%;
			height: 100%;
			margin: 0 auto;
			border: 1px solid #ffa133;
			background: #fff;

			.tit__s {
				font-size: 41px;
				line-height: 76px;
				color: #c22615;
				text-align: center;
				font-weight: bold;
				margin-top: 20px;
				margin-bottom: 10px;
			}

			.problem__wrap {
				width: 100%;
				padding: 50px;
				box-sizing: border-box;
			}
		}
	}

	.content3 {
		@extend .content2;

		height: 1030px;

		.content__wrap {
			padding: 0 58px;
			box-sizing: border-box;

			.content3-banner {
				margin-top: 30px;
			}

			.user__reviews {
				.swiper__warp {
					height: 600px;
					overflow: hidden;

					.swiper-slide {
						margin-left: 0 !important;
					}
				}

				.swiper__item {
					.swiper__hd {
						display: flex;

						.swiper__hd-img {
							width: 104px;
							height: 104px;
							margin-right: 30px;
						}

						.swiper__hd-info {
							flex: 1;

							.user__name {
								font-size: 38px;
							}

							.user_rate {
								font-size: 35px;

								.star {
									display: inline-block;
									width: 40px;
									height: 40px;
									margin: 0 3px;
									background: url("../img/star.png") no-repeat center;
									background-size: cover;
								}
							}
						}
					}

					.swiper__bd {
						padding-top: 15px;
						box-sizing: border-box;
						font-size: 38px;
					}
				}
			}

			.van-swipe__indicators--vertical {
				display: none;
			}
		}
	}
}

// info页面
.info__page {
	// background: url("../img/info-bg.jpg") no-repeat center top;
	// background-size: 1080px 959px;
	width: 100%;
	height: auto;

	.info__tit {
		width: 100%;
		text-align: center;
		padding-top: 300px;
		box-sizing: border-box;
		color: #fff08a;
		text-shadow: -1px -1px 1px #891a12, 1px -1px 1px #891a12,
			-1px 1px 1px #891a12, 1px 1px 1px #891a12;

		.title1 {
			font-size: 90px;
			font-weight: bold;
		}

		.title2 {
			font-size: 80px;
		}
	}

	.form__wrap {
		width: 100%;
		margin-top: 50px;
		text-align: center;
		margin-bottom: 150px;
	}

	.radio__group {
		display: flex;
		justify-content: center;
		align-items: center;
		color: rgb(175, 22, 20);
	}

	.custom__radio {
		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: 56px;
		color: #323233;
		cursor: pointer;
		width: 200px;
		height: 100px;
		border-radius: 50px;
		background: #fff;
		box-sizing: border-box;

		&:nth-of-type(2) {
			margin: 0 40px;
		}

		.icon-male {
			width: 36px;
			height: 50px;
			margin-right: 20px;
			background: url("../img/male-icon.png") no-repeat right center;
			background-size: cover;
		}

		.icon-female {
			width: 49px;
			height: 50px;
			margin-right: 20px;
			background: url("../img/female-icon.png") no-repeat right center;
			background-size: cover;
		}

		&.active {
			background: #ffe2b0;
			color: #c22500;

			.icon-male {
				background: url("../img/male-icon.png") no-repeat left center;
				background-size: cover;
			}

			.icon-female {
				background: url("../img/female-icon.png") no-repeat left center;
				background-size: cover;
			}
		}
	}

	.input__group {
		margin-top: 10px;

		input {
			width: 800px;
			height: 120px;
			margin: 30px 0;
			box-sizing: border-box;
			border-radius: 20px;
			padding: 2px 15px;
			font-size: 46px;
			color: #666;
			text-align: center;
			background-color: #fff;
			border: 1px solid #ccc;
			box-shadow: 0 1px 2px rgb(0 0 0 / 10%);

			&:focus {
				background: #fff;
				outline: none;
				appearance: none;
			}
		}
	}

	.date__group {
		width: 800px;
		height: 120px;
		margin: 10px auto;
		border-radius: 20px;
		padding: 2px 15px;
		box-sizing: border-box;
		font-size: 46px;
		color: #666;
		text-align: center;
		background-color: #fff;
		border: 1px solid #ccc;
		box-shadow: 0 1px 2px rgb(0 0 0 / 10%);

		.van-cell {
			align-items: center;
			height: 100%;
			padding: 0;
			background: none;
			text-align: center;

			.van-field__control {
				text-align: center;
				font-size: 46px;
				color: #666;

				&::placeholder {
					color: #666;
				}
			}

			.van-cell__right-icon {
				display: none;
			}
		}
	}

	.requirement__group {
		width: 800px;
		margin: 40px auto 40px;
		display: flex;
		justify-content: space-between;

		button {
			font-size: 48px;

			&.active {
				background: #ffe2b0;
				color: #c22500;
				border: 2px solid #ffe2b0;
			}
		}
	}
}

.submit__btn {
	display: flex;
	justify-content: center;
	width: 1002px;
	height: 150px;
	margin: 0 auto;
	font-size: 60px;
	line-height: 150px;
	color: #ffe2b0;
	background: #e0345a;
	border-radius: 10px;
	cursor: pointer;
	animation: resize-animation 2s infinite;
}

// detail__page
.detail__page {
	.banner {
		width: 1080px;
		height: 798px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.page__title {
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 560px;
		height: 120px;
		margin: 50px auto 0;
		font-size: 60px;
		color: #fff;
		background: url("../img/title-bg.png") no-repeat center;
		background-size: 100% 100%;
		/* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
		font-family: "行楷-繁";
		font-weight: bold;
	}

	.detail__wrap {
		width: 100%;
		height: auto;
		padding: 10px 50px 0;
		box-sizing: border-box;
		color: #413632;

		&.filter {
			text-shadow: 0 0 20px rgb(61 61 61 / 50%);
			filter: blur(15px);
		}

		.main-info {
			width: 100%;
			background: #fff;
			padding: 40px 30px;
			box-sizing: border-box;
			border-radius: 15px;
			border: 2px solid #ffceb7;
			font-size: 44px;

			.main-tit {
				line-height: 58px;
				color: #d51e00;
				font-weight: 500;
			}

			.main-infotxt {
				line-height: 75px;

				span {
					color: #f46825;
				}
			}

			.more__info-tit {
				line-height: 85px;
				margin-top: 40px;
				color: #d51e00;
				font-weight: 500;
			}
		}

		.report-tit {
			position: relative;
			top: -28px;
			z-index: 5;
			display: flex;
			justify-content: center;

			.report-tit-txt {
				display: block;
				height: 100px;
				padding: 0 100px;
				text-align: center;
				font-size: 48px;
				line-height: 100px;
				color: #ffe09c;
				background: url("../img/report-tit-bg.png") no-repeat center;
				background-size: 100% 100%;
				min-width: 500px;
				box-sizing: border-box;
			}
		}

		.free__report {
			position: relative;
			width: 960px;
			margin: 0 auto;
			padding: 0 44px 70px;
			font-size: 43px;
			line-height: 60px;
			background-color: #fff;
			border: 1px solid rgb(244 208 209);
			border-radius: 10px;
			margin-top: 90px;
			box-sizing: border-box;

			&::after {
				position: absolute;
				top: 2%;
				left: -16px;
				z-index: -1;
				width: 986px;
				height: 100%;
				content: "";
				background: rgb(244 208 209);
				border-radius: 10px;
			}
		}

		.pay__report {
			@extend .free__report;

			min-height: 800px;

			.unpaid-infos {
				display: none;
			}

			.report__detail {
				text-shadow: 0 0 20px rgb(61 61 61 / 50%);
				filter: blur(10px);
			}

			&.unpaid {
				&::after {
					position: absolute;
					top: 0;
					left: 0;
					z-index: 2;
					width: 100%;
					height: 100%;
					content: "";
					opacity: 0.1;
				}

				.unpaid-infos {
					position: absolute;
					top: 0;
					left: 0;
					z-index: 3;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 100%;

					.unpaid-tips {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 600px;
						height: 260px;
						margin-top: 100px;
						background-color: rgb(255 255 255);
						border-style: solid;
						border-width: 1px;
						border-color: rgb(211 146 86);
						border-radius: 6px;

						i {
							display: block;
							width: 33px;
							height: 42px;
							background: url("../img/icon-lock.png") no-repeat center;
							background-size: contain;
							margin-right: 10px;
							margin-bottom: 5px;
						}
					}

					.payment__btn {
						width: 100%;

						.submit__btn {
							width: 863px;
							height: 130px;
							font-size: 60px;
							line-height: 130px;
							border-radius: 10px;
							margin-top: 100px;
							color: #fff;
							background: #de3e68;
						}
					}
				}
			}
		}
	}
}

// payment__page
.payment__page {
	.payment__banner {
		width: 100%;
		height: auto;

		img {
			max-width: 100%;
		}
	}

	.pay__body {
		width: 100%;
		padding: 40px 50px 0;
		box-sizing: border-box;
	}

	.pay__tips {
		width: 100%;
		font-size: 38px;
		color: #de3e68;
	}

	.pay__wrap {
		width: 100%;
		border-radius: 30px;
		background: #fff;
		overflow: hidden;
		margin: 20px 0 30px;

		.pay__hd {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			padding: 10px 40px;
			box-sizing: border-box;
			color: #413632;
			background: #fac5d0;

			.destiny__type {
				font-size: 35px;

				.tit {
					font-size: 45px;
					color: #fff;
				}
			}

			.left__time {
				.time__title {
					font-size: 32px;
				}

				.time__num {
					font-size: 45px;
					color: #fff;
				}
			}
		}

		.pay__bd {
			padding: 40px 40px 0;
			box-sizing: border-box;

			.special__price {
				font-size: 60px;
				color: #d51e00;
			}

			.old__price {
				margin-top: 10px;
				font-size: 60px;

				&.through {
					font-size: 40px;
					text-decoration: line-through;
				}
			}
		}

		.pay-radio__box {
			padding: 0 50px 40px;
			box-sizing: border-box;

			.pay-radio-icon {
				display: inline-block;
				width: 240px;
				height: 100px;
				background: url("../img/PayPal.png") no-repeat center;
				background-size: contain;
			}

			.van-checkbox {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
			}
		}
	}

	.email__wrap {
		width: 100%;

		/* stylelint-disable-next-line no-descending-specificity */
		input {
			display: block;
			width: 100%;
			height: 120px;
			margin: 0 auto;
			padding: 8px 15px;
			box-sizing: border-box;
			font-size: 46px;
			color: #666;
			background-color: #fff;
			border-radius: 20px;
			text-align: center;
			border: 1px solid #ccc;
			box-shadow: 0 1px 2px rgb(0 0 0 / 10%);

			&:focus {
				background: #fff;
				outline: none;
				appearance: none;
			}
		}
	}

	.pay__btn-wrap {
		// position: fixed;
		// bottom: 0;
		// left: 0;
		// z-index: 9;
		width: 100%;
		margin-top: 30px;

		.pay__btn {
			display: flex;
			justify-content: center;
			width: 100%;
			height: 130px;
			margin: 0 auto;
			font-size: 60px;
			line-height: 130px;
			color: #ffe2b0;
			background: #de3e68;
			border: none;
			border-radius: 10px;
			cursor: pointer;

			&.lock {
				cursor: not-allowed;
				opacity: 0.9;
				pointer-events: none;
				filter: grayscale(100%);
				color: #b4b4b4;
			}
		}

		.paypalbutton-box {
			width: 100%;
			padding: 30px 40px;
			box-sizing: border-box;
		}
	}
	.pay__form {
		width: 100%;
		.pay__form-img {
			width: 100%;
		}
	}
}

.foot__widget {
	margin: 30px 0;
	font-size: 35px;
	color: #f6641b;
	text-align: center;

	a {
		color: #ccc;
	}
}

p {
	margin: 0;
	padding: 0;
}

.foot__btn {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	padding: 30px 40px;
	box-sizing: border-box;
	background: rgb(0 0 0 / 49.5%);
}

@keyframes resize-animation {
	0%,
	20%,
	40%,
	100% {
		transform: scale(0.95);
	}

	10%,
	30% {
		transform: scale(1);
	}
}

.van-picker__toolbar {
	.van-picker__confirm {
		color: #f46825;
	}
}

.van-dialog__confirm {
	color: #f46825 !important;
}

.paypal-button.paypal-button-color-gold {
	background: #ad261d !important;
}
.privacy {
	margin-bottom: 20px;
	margin-top: 30px;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	.privacy__link {
		color: #fe7929;
		display: inline-block;
	}
	.van-checkbox__label {
		color: rgb(175, 22, 20);
	}
}
.privacy__wrap {
	width: 100%;
	max-width: 1200px;
	padding: 60px;
	box-sizing: border-box;

	.tit {
		font-size: 45px;
	}
	p {
		margin: 20px 0;
		font-size: 40px;
		text-align: justify;
	}
}
.van-overlay {
	// background: #fff !important;
	// opacity: 0.8;
	backdrop-filter: blur(20px);
}
//
.date__group {
	.van-picker__columns {
		justify-content: center;
	}

	.van-picker-column {
		flex: none;

		&:nth-child(-n + 3) {
			width: 15%;
		}
	}
}

.calendar-switcher {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	display: flex;
	display: inline-flex;
	justify-content: center;
	margin-bottom: 20px;
	border: 1px solid #f46825;
	border-radius: 15px;

	button {
		border: none;
		width: 180px;
		height: 80px;
	}

	.active {
		color: white;
		background: #f46825;
	}
}
